body {
  font-family: 'Philosopher', sans-serif;
  color: $brown-900;
  font-size: 24px;
  font-weight: 700;
  background-color: $bg;
}

.container {
  max-width: 1250px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  font-family: 'OpenSans', sans-serif;
  font-size: 18px;
  padding: 24px 45px;
  background-color: $red;
  color: $ivory;
  text-transform: uppercase;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;

  &:hover {
    background-color: #912121;
    color: rgba($ivory, 0.7);
  }

  &:active {
    color: rgba($ivory, 0.5);
  }
}

.section {
  padding: 140px 0 50px 0;
}

.title {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 80px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}