$white:      #fff;
$black:      #000;
$brown-900:  #281205;
$brown-800:  #714430;
$marble:     #F1DEC4;
$red:        #B52D2D;
$bg:         #EEE4DA;

%bg {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

$xxx: 1310;

$xl: 1200;

$lg: 992;

$md: 768;

$sm: 576;

$m: 360;



