@import 'reset';
@import 'fonts';
@import 'vars';
@import 'mixins';
@import 'libs';
@import 'global';

.header {
  @extend %bg;
  height: 100vh;
  color: $ivory;

  &__wrapper {
    position: relative;
    height: 100vh;
  }

  &__menu {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 20;
  }

  &__inner {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: 60%;
    transform: translateY(-50%);

    &::after {
      @include pseudo;
      background-image: url('../images/badge.svg');
      @extend %bg;
      width: 133px;
      height: 154px;
      top: 0;
      right: 0;
    }
  }

  &__subtitle {
    display: block;
    font-size: 36px;
    margin-bottom: 16px;
  }

  &__title {
    display: inline-block;
    font-size: 48px;
    padding: 17px;
    background-color: rgba(40, 18, 5, 0.4);
    border-radius: 5px;
    margin-bottom: 60px;
  } 

  &__blockquote {
    display: flex;
    flex-direction: column;
    max-width: 815px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 60px;
  }

  &__phrase {
    display: block;
    font-style: italic;
    font-size: 36px;
    font-weight: 400;

    &--two {
      margin: 0 auto;
    }

    &--three {
      margin-left: auto;
    }
  }

  &__btn-inner {
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__btn {
    margin-right: 20px;
  }

  &__line {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 3px;
    background-color: $ivory;
    opacity: 0.5;
    margin-right: 20px;
  }

  &__bottom-btn {
    position: absolute;
    display: block;
    width: 123px;
    height: 44px;
    border: 2px solid $ivory;
    border-radius: 5px;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    opacity: 0.5;

    &::after {
      @include pseudo;
      background-image: url('../images/arrow.svg');
      @extend %bg;
      width: 40px;
      height: 26px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.menu {

  &__top {
    background-color: $brown-900;
    padding: 18px 0;
    transition: padding 0.5s ease-in-out;

    &.header__scroll {
      padding: 2px;
    }
  }

  &__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'OpenSans', sans-serif;
    font-weight: 400;
    color: $ivory;
    font-size: 18px;
  }

  &__bottom {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
    background-image: url('../images/tree3.jpg');
    border-bottom: 2px solid $ivory;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  &__link {
    display: block;
    padding: 14px 0;

    &--marble {
      background-color: $ivory;
      color: $brown-900;
    }

    &--brown {
      background-color: $brown-900;
      color: $ivory;
    }
  }
}

.logo {

  &__img {
    transition: width 0.5s ease-in-out, height 0.5s ease-in-out;

    &.logo__scroll {
      width: 150px;
      height: 30px;
    }
  }
}

.contacts {
  display: flex;
  align-items: center;
  font-size: 16px;

  &__item {

    &:first-child {
      margin-right: 60px;
    }
  }

  &__link {
    padding-left: 40px;
    position: relative;

    & span {
      color: $red;
    }

    &--tel::after,
    &--mail::after {
      @include pseudo;
      @extend %bg;
      left: 0;
      top: 1px;
    }

    &--tel::after {
      background-image: url('../images/icon-tel.svg');
      width: 23px;
      height: 23px;
    }

    &--mail::after {
      background-image: url('../images/icon-mail.svg');
      width: 30px;
      height: 20px;
    }
  }
}

.language {
  display: flex;
  align-items: center;
  font-size: 16px;

  &__item {

    &:first-child {
      margin-right: 25px;
    }
  }

  &__link {
    padding-right: 43px;
    position: relative;
    text-transform: uppercase;

    &--ua::before,
    &--ru::before {
      @include pseudo;
      @extend %bg;
      width: 30px;
      height: 20px;
      right: 0;
      top: 1px;
      border-radius: 2px;
    }

    &--ua::before {
      background-image: url('../images/icon-ua.svg');
    }

    &--ru::before {
      background-image: url('../images/icon-ru.svg');
    }
  }
}

.appeal {

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // margin-bottom: 80px;
  }

  &__text {
    margin-right: 74px;
    font-weight: 400;
    font-style: italic;

    & p:not(:last-child) {
      margin-bottom: 18px;
    }
  }
}

.achievements {

  &__wrapper {
    box-sizing: border-box;
    height: 450px;
  }

  &__inner {
    margin: 0 auto;
  }

  &__item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 299px;
    background-color: rgba(255, 253, 253, 0.3);
    border-radius: 5px; 
    margin: auto 0;
  }

  &__img {
    cursor: pointer;
  }

  &__next {
    transform: translateX(10px);
    color: $brown-800;
    opacity: 0.5;
  }

  &__prev {
    transform: translateX(-10px);
    color: $brown-800;
    opacity: 0.5;
  }
}

.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background-color: $brown-800;
}

.services {

  &__wrapper {
    background-image: url('../images/red-tree.jpg');
    position: relative;
    padding: 50px 0;
    @extend %bg;

    &::after {
      @include pseudo;
      background-color: $red;
      width: 100%;
      height: 5px;
      top: 0;
      right: 0;
    }

    &::before {
      @include pseudo;
      background-color: $red;
      width: 100%;
      height: 5px;
      bottom: 0;
      right: 0;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    text-align: center;
    font-size: 18px;

    @include r($xl) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item {
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    max-width: 100%;
    height: 255px;   

    &--ivory {
      background-color: $ivory;
      color: $brown-900;
    }

    &--brown {
      background-color: $brown-900;
      color: $ivory;
    }
  }

  &__card {
    display: block;
    perspective: 2000px;
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    &:hover .services__front {
      transform: rotateY(180deg);
    }

    &:hover .services__back {
      transform: rotateY(360deg);
    }
  }

  &__front,
  &__back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px; 
    backface-visibility: hidden;
    transition: transform 1s ease-in-out;
  }

  &__front {

    &--brown {
      background-color: $brown-900;
      color: $ivory;
    }

    &--ivory {
      background-color: $ivory;
      color: $brown-900;
    }
  }

  &__back {
    background-image: url('../images/tree3.jpg');
    @extend %bg;
    transform: rotateY(180deg);
  }

  &__img {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
  }

  &__back-text {
    color: $brown-900;
    margin-bottom: 20px;
  }

  &__btn {
    width: 200px;
    font-size: 16px;
    text-transform: none;
    padding: 12px 20px;
    margin: 0 auto;
  }
}

.science {
  font-size: 16px;
  text-align: center;

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-bottom: 60px;

    @include r($xl) {
      grid-gap: 15px;
    }

    @include r($lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r($md) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__item {      
    height: 300px;
    border-radius: 5px;
    box-shadow: 0px 7px 15px rgba(113, 68, 48, 0.47);
    background-color: $ivory;

    &.close {
      display: none;
    }

    &.close.open--active {
      display: block;
    }
  }

  &__link {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 30px;

    &::before {
      @include pseudo;
      background-image: url('../images/feather3.png');
      @extend %bg;
      width: 100px;
      height: 80px;
      top: 10px;
      left: 50%;
      transform: translateX(-50%);
      opacity: 0.7;
    } 

    &::after {
      @include pseudo;
      width: 20px;
      height: 20px;
      border: 4px solid $red;
      border-radius: 50%;
      bottom: 7%;
    }
  }

  &__title {
    @include line-clamp(3);
  }

  &__autor {
    position: absolute;
    bottom: 25%;
  }

  &__btn {
    text-transform: none;
    padding: 18px;
    margin-bottom: 60px;
  }
}

